@import url('../css/nullstyle.css');

/* font-family: 'Forum', cursive; */

:root {
  --bg-dark: #151719;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
}

/* wrap all content */
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
  max-width: 1440px;
}

/* All transitions timings for logos links & buttons */
.transition {
  transition: all 0.7s;
}

.button:hover {
  /* opacity: 1;
	transition: 0.9s; */
  background-color: #9d8665;
}

/* applied to all a tags */
a:hover,
a:focus,
a:active {
  color: #9d8665;
  transition: 0.7s;
}

a {
  color: #000;
}

.section-header {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  /* identical to box height, or 112% */
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 75px;
}

/** -->> Header **/

.header {
  color: #ffffff;
  background-color: #030303;
}
.header-container {
  min-height: 150px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.header-container.container {
  padding: 0;
}

.header__logo,
.footer__logo {
  cursor: pointer;
}

.header__logo {
  display: flex;
  flex-direction: row;
  width: 199px;
  height: 33px;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo a {
  display: block;
  /* padding-bottom: 12px; */
}

.header__logo:hover {
  color: #9d8665;
  filter: invert(0.5) sepia(1);
}

.header__logo-text {
  font-family: Forum;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  /* margin-left: 21px; */
}

.header__nav {
  width: 775px;
  height: 26px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list-item:last-child {
  margin-right: 0;
}

.header__link {
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  /* opacity: 0.75%; */
  color: #9d8665;
}

.header__bg-img {
  display: flex;
  justify-content: flex-end;
  right: 0px;
  bottom: 0px;
}

/* section background */
.dark-bg {
  background-color: #000;
}

/** -->> Main content **/

.main {
}

/** -->> Welcome Section  */

.welcome {
  width: 100%;
  background-color: #000;
  background-image: url('../img/mona-lisa-welcome.jpg');
  background-size: 1000px 750px;
  background-repeat: no-repeat;
  background-position: calc(50% + 220px) 0%;
}

.welcome-container {
  min-height: 810px;
  position: relative;
}

div.welcome-container.container {
  padding-top: 0;
}

.welcome__discover {
  width: 598px;
  height: 388px;
  top: 150px;
  position: absolute;
}

.welcome__discover-header {
  font-family: 'Forum', cursive;
  font-style: normal;
  font-size: 80px;
  line-height: 90px;
  font-weight: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
}

.welcome__discover-text {
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  /* word-spacing: 0.1em; */
  color: #ffffff;
  padding-top: 26px;
}

.welcome__discover-btn {
  width: 360px;
  height: 75px;
  background-color: #710707;
  position: absolute;
  left: 0;
  bottom: 0;
  align-items: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  /* transition: 0.3s; */
  cursor: pointer;
}

.welcome__discover-btn div {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
}

.welcome__discover-btn {
}

.welcome__discover-btn {
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
}

.welcome__discover-btn:hover {
  /* background-color: #9d8665; */
}

.welcome__slider {
}
.welcome__slider-pagination {
  position: absolute;
  width: 600px;
  height: 120px;
  right: 0;
  bottom: 0;
  background-color: #666666;
  background-image: url('../img/slider-pagination-welcome.jpg');
}

/* Main font for header + in small sections change only font-size line-height */

/** -->> Visiting Section  */

.visiting__header {
  color: #9d8665;
  margin-bottom: 25px;
}

.br {
  background-color: #710707;
  height: 3px;
}

.visiting__br {
  /* margin-bottom: 75px; */
}

.visiting__cards {
  margin-top: 75px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 78px 60px;
}

.visiting__cards .card {
  width: 440px;
  height: 422px;
}

.card {
  position: relative;
  z-index: 10;
}

.card-bg1 {
  min-height: 285px;
  background-image: url('../img/royal-palace.jpg');
  background-size: cover;
}

/* -->> card background expand animation */

.card::after {
  position: absolute;
  top: 1rem;
  right: -1rem;
  width: 100%;
  height: 100%;
  border-radius: 10px;

  transition: 0.9s;
  content: '';
  z-index: -5;
}

.card:hover::after {
  top: -1rem;
  width: calc(100% + 2rem);
  height: calc(100% + 4rem);
  background: #d1bb9d;
}

/* <<-- Card background expand animation end */

/* -->> Underline animation */

.card .br-card {
  width: 300px;
  margin-bottom: 10px;
}

.card {
  cursor: pointer;
  color: #000;
}

.card .br-card.hover {
  width: 439px;
}

.card .br-card {
  height: 2px;
  width: 100px;
  background-color: #710707;
  transition: all 0.9s;
}

/* <<-- End of underline animation */

.card__header {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 9px;
}

.card__text:last-child {
  margin-top: 12px;
  font-size: 18px;
  line-height: 21px;
}

.card__text {
  font-family: Roboto;
  font-weight: 200;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-transform: capitalize;
}

.card-bg2 {
  min-height: 285px;
  background-image: url('../img/denon-wing.jpg');
  background-size: cover;
}

.card-bg3 {
  min-height: 285px;
  background-image: url('../img/colonnade.jpg');
  background-size: cover;
}
.card-bg4 {
  min-height: 285px;
  background-image: url('../img/greek-hall.jpg');
  background-size: cover;
}
.card-bg5 {
  min-height: 285px;
  background-image: url('../img/mona-lisa.jpg');
  background-size: cover;
}
.card-bg6 {
  min-height: 285px;
  background-image: url('../img/night-palace.jpg');
  background-size: cover;
}

/*** Explore Section ***/

.explore {
  color: #ffffff;
  background-color: #030303;
}

.explore-container {
  min-height: 865px;
  /* height: 715px; */
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.explore__text {
  width: 660px;
  height: auto;
  align-self: start;
}

.explore__header {
  color: #ffffff;
  margin-bottom: 25px;
}

.explore__br {
  width: 660px;
}

.explore__text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  /* or 175% */
  color: #ffffff;
  margin-bottom: 28px;
}

.explore__text span {
  color: #caaa7d;
}

.explore__picture {
  width: 720px;
  height: 700px;
  background-image: url('../img/picture-explore-restore.jpg');
  background-size: cover;
  margin-top: 15px;
}

.explore__br {
  margin-bottom: 75px;
}

/*** -->> Video Section ***/

.video {
  background-color: #fff;
  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 1010px; */
}

.video-container {
  width: 100%;
}

/* -->>  Video text */

.video__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 75px;
}

.video__header {
  color: #9d8665;
  margin-bottom: 0;
}

.video__description {
  max-width: 720px;
  margin-top: 5px;
  margin-left: 5px;
}

.video__description p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  /* or 175% */
  color: #000;
}

/* -> Video Player */

.video__player {
  min-height: 735px;
  /* margin-bottom: 40px; */
}

.player-window {
  height: 650px;
  background-image: url('../img/player-bg.jpg');
  background-size: cover;
  display: grid;
}
.player-window-btn {
  margin: auto;
  height: 220px;
  width: 220px;
  background-image: url('../svg/player-btn.svg');
}

/* -->> Player player-control */

.player-control {
  height: 85px;
  width: 100%;
  background-color: #000;
}

/* all layer buttons on hover */

.video__player button:hover {
  background-color: transparent;
  filter: invert(0.5) sepia(1);
}

.player-control-wrapper {
  height: 100%;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-control-play,
.player-control-volume,
.player-control-full_scr,
.player-window-btn {
  background-size: cover;
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
  background-color: transparent;
}

.player-control-play {
  width: 23px;
  height: 30px;
  background-image: url('../svg/play-btn-sm.svg');
}

.player-control-progress_bar {
}

.player-control-volume {
  width: 38px;
  height: 30px;
  background-image: url('../svg/vol-btn.svg');
}

/* -->> Video progress bars */

.progress {
  background: linear-gradient(to right, #710707 0%, #710707 40%, #fff 40%, #fff 100%);
  width: 100%;
  height: 8px;
  outline: none;
  transition: background-image 450ms ease-in;
  -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.progress::-webkit-slider-thumb:hover {
  background: #9d8665;
}

.player-control-progress_bar-vid {
  width: 929px;
}

.player-control-progress_bar-vol {
  width: 155px;
}

.player-control-full_scr {
  width: 36px;
  height: 36px;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
  background-image: url('../svg/full-scr-btn.svg');
}

/* -> Player Playlist */

.player-playlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  height: 306px;
}
.player-playlist__video-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.player-playlist__video-slide {
  height: 254px;
  width: 452px;
}
.player-playlist__video-slide.slide-1 {
  background-image: url('../img/video-slide-item-1.jpg');
}
.player-playlist__video-slide.slide-2 {
  background-image: url('../img/video-slide-item-2.jpg');
}
.player-playlist__video-slide.slide-3 {
  background-image: url('../img/video-slide-item-3.jpg');
}

.player-playlist__paginator {
  /* margin: 40px auto 0 auto; */
  width: 200px;
  height: 12px;
  background-image: url('../img/video-slider-pagination.jpg');
}

/*** --> Gallery  ***/

.gallery {
  color: #ffffff;
}

.gallery-container.container {
  min-height: 2200px;
  padding-bottom: 0;
}

.gallery__header {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  /* identical to box height, or 112% */
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 75px;
}

.gallery__cards {
  /* background-image: url('../img/gallery-png.png'); */
  /* min-height: 1960px; */
}

.gallery__picture-container {
  overflow-y: hidden;
  /* background-color: #666; */
  height: 1960px;
  overflow-y: hidden;
  position: relative;
}

.gallery__inner-container {
  height: 3000px;
  display: flex;
  flex-flow: column wrap;
  column-gap: 36px;
}
.gallery__img {
  display: inline-block;
  max-width: 456px;
  margin: 0 0 24px 0;
}
.gallery__img:first-child,
.gallery__img:nth-child(11) {
  margin-top: 50px;
}

.gallery__inner-container::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 360px;
  top: 1600px;
  left: 0;
  pointer-events: none;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.48382055458902307) 19%, rgba(0, 0, 0, 0.7695348403033089) 52%, rgba(0, 0, 0, 1) 89%);
}
/* .gallery__shadow {
  position: absolute;
  height: 100px;
} */

/* .gallery_inner-container-buff {
  background-color: red;
  height: 50px;
} */

/* >>>>>>>  using grid */

/* .gallery__picture-container {
  overflow-y: hidden;
  min-height: 1960px;
  background-color: #666;
}

.gallery__inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: start;
  column-gap: 34px;
}
.gallery_inner-container-buff {
}

.gallery__img {
  display: inline-block;
  max-width: 456px;
  margin: 0 0 24px 0;
}

.gallery_inner-container-buff {
  width: 100%;
  background-color: red;
  height: 50px;
} */

/* using columns */

/* .gallery__picture-container {
  overflow-y: hidden;
  min-height: 1960px;
  background-color: #666;
}
.gallery__inner-container {
  columns: 3 auto;
  column-gap: 36px;
  -webkit-column-rule: 1px dotted #ddd;
}

.gallery__picture-container {
}
.gallery__inner-container {
}
.gallery__img {
  display: inline-block;
  max-width: 456px;
  margin: 0 0 24px 0;
}
.gallery_inner-container-buff {
  width: 100%;
  background-color: red;
  height: 50px;
}

.gallery__inner-container > * + * {
} */

/*** -->> Tickets Section ***/

.tickets {
  color: var(--bg-dark);
  background-color: #ffffff;
  min-height: 743px;
  padding: 0px 0;
}

.tickets-container {
}

.tickets__header {
  color: #9d8665;
  margin-bottom: 25px;
}

.tickets__br {
  margin-bottom: 75px;
}

.tickets__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tickets__picture {
  width: 720px;
  height: 550px;
  background-image: url('../img/tickets.jpg');
  background-size: cover;
  bottom: 0;
  right: 0;
}

.tickets__buy {
  width: 660px;
  display: flex;
  justify-content: space-between;
}

h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

.tickets__buy-type h3 {
  margin-bottom: 50px;
}

/* -->> Tickets Type Radio buttons */

/* interactivity */
.tickets__buy-type label:hover {
  color: #9d8665;
  cursor: pointer;
}

/*  */

.tickets__buy-type ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tickets__buy-type form ul {
  display: flex;
  flex-direction: column;
}

.tickets__buy-type li {
  display: inline-block;
  margin-bottom: 25px;
}

.tickets__buy-type label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  /* color: #ffffff; */
}

.tickets__buy-type label {
}

.tickets__buy-type input[type='radio'] {
}

.radio {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 23px;
}

.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio__control {
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 0.1em solid #000;
}

.radio__control:hover {
  border: 0.1em solid #9d8665;
}

input + .radio__control::after {
  box-shadow: inset 7px 7px #710707;
}

.radio__input {
  display: flex;
}

.radio__label {
  line-height: 26px;
}

.radio__control {
  transform: translateY(3px);
}

/* Option 1 */
/* .radio__input input:checked + .radio__control {
  background: radial-gradient(#FFF 38%, rgba(255, 0, 0, 0) 50%);
} */

/* Option 2 */

.radio__control {
  display: grid;
  place-items: center;
}

input + .radio__control::before {
  content: '';
  width: 7px;
  height: 7px;
  box-shadow: inset 7px 7px #000;
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
}

input:checked + .radio__control::before {
  transform: scale(1);
}

/* -->> Tickets Buy Radio Buttons */

.tickets__buy-amount {
}

.tickets__buy-amount form {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: flex-end;
  justify-content: start;
}

.tickets__buy-amount h3 {
  margin-bottom: 25px;
  text-align: right;
}

.tickets__buy-amount .age {
  max-width: 150px;
  margin-bottom: 10px;
}
.tickets__buy-amount .age:nth-last-child(3) {
  margin-bottom: 0;
}

.tickets__buy-amount p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}
.buy-btn {
  width: 150px;
  /* height: 50px; */
  margin-top: 15px;
  /* margin-bottom: 10px; */
  margin-right: 0px;
  margin-left: auto;
  border: 1px #000 solid;
}

.buy-btn:nth-last-child(2) {
  margin-bottom: 0;
}

.buy-btn button {
  width: 48px;
  height: 48px;
  font-size: 22px;
  color: #000;
  background-color: transparent;
}

.buy-btn button:hover {
  color: #9d8665;
}

.buy-btn input {
  font-size: 23px;
  text-align: center;
  max-width: 39px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}

.buy-btn-number {
  font-size: 52px;
  display: inline-block;
  text-align: center;
  all: unset;
  width: 49px;
  text-align: center;
}

.tickets__buy-amount ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  right: 0;
}

.tickets__buy-amount li {
  list-style: none;
}
.tickets__buy-amount li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tickets__buy-amount h3:nth-last-of-type(1) {
  margin-top: 50px;
  margin-bottom: 60px;
  letter-spacing: 1.65px;
}

.tickets__buy-btn button {
}

/* -->> Buy Tickets Buy button checkout */

.tickets__buy-btn {
  width: 175px;
  height: 50px;
  background-color: #000;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  color: #fff;
}

.tickets__buy-btn {
  opacity: 0.8;
  cursor: pointer;
}

.tickets__buy-btn {
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
}

.tickets__buy-btn:hover {
  /* background-color: #9d8665; */
}

/*** ->> Parallax Section  */
.parallax {
  background-color: steelblue;
}

.parallax-container {
  height: 400px;
  min-width: 100%;
  background-image: url('../img/parallax.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.parallax h2 {
  display: none;
}

/*** -->> Contacts Section ***/

.contacts__header {
  margin-bottom: 25px;
  color: #9d8665;
}

.contacts-container {
  min-height: 500px;
  /* padding-top: 75px; */
  /* padding-bottom: 75px; */
}

.contacts-br {
  margin-bottom: 75px;
}

.contacts__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.contacts__text {
}

.contacts__text h3 {
  margin-bottom: 50px;
  font-weight: 500;
}

.contacts__text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 24px;
  /* or 175% */
  color: #000;
}

.contacts__map {
  width: 960px;
  height: 620px;
  background-color: #fff;
  background-image: url('../svg/contacts-map.png');
  background-size: cover;
}

/*** -->> Footer Section  ***/

/* give height to the main section first */

footer {
  color: #ffffff;
  background-color: #030303;
}

.footer-container {
  /* max-height: 392px; */
  padding-bottom: 0px;
  /* min-height: 150px; */
}

.footer-container-upper {
  display: grid;
  grid-template-columns: 340px 366px 1fr;
  /* margin-bottom: 50px; */
  height: 140px;
  margin-bottom: 50px;
}

.footer__logo {
  display: flex;
  flex-direction: row;
  width: 195px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.footer__logo a {
  display: block;
  /* padding-bottom: 12px; */
}

.footer__logo:hover {
  color: #9d8665;
  filter: invert(0.5) sepia(1);
}

.footer__logo-text {
  font-family: Forum;
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 4px;
  text-transform: uppercase;
  /* margin-left: 21px; */
}
.footer__nav {
  max-width: 363px;
  max-height: 128px;
}

.footer__list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'col1-item1 gap col3-item1'
    'col1-item2 gap col3-item2'
    'col1-item3 gap col3-item3';
}

.footer__item:nth-child(1) {
  grid-area: col1-item1;
}
.footer__item:nth-child(2) {
  grid-area: col1-item2;
}
.footer__item:nth-child(3) {
  grid-area: col1-item3;
}
.footer__item:nth-child(4) {
  grid-area: col3-item1;
}
.footer__item:nth-child(5) {
  grid-area: col3-item2;
}
.footer__item:nth-child(6) {
  grid-area: col3-item3;
}

.footer__link {
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}

.footer__link:hover,
.footer__link:focus,
.footer__link:active {
  /* color: #9D8665; */
  /* transition: .9s; */
}

.footer__social {
  display: grid;
  align-items: flex-end;
  justify-content: right;
  margin-bottom: 5px;
}

.footer__social .icons {
  width: 340px;
  height: 48px;
}

.footer__social {
}

.icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons div {
  width: 48px;
  height: 48px;
  border: 2px solid #666666;
  border-radius: 50%;
}

.icon-wrapper.youtube {
  background-image: url('../svg/youtube.svg');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon-wrapper.instagram {
  background-image: url('../svg/Instagram.svg');
  /* background-color: transparent; */
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon-wrapper.facebook {
  background-image: url('../svg/Facebook.svg');
  background-color: transparent;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon-wrapper.twitter {
  background-image: url('../svg/Twitter.svg');
  /* background-color: transparent; */
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon-wrapper.pinterest {
  background-image: url('../svg/Pinterest.svg');
  /* background-color: transparent; */
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

.icons div:hover {
  filter: invert(0.5) sepia(1);
  /* background-color: #fff; */
  /* transition: filter 0.7s; */
}

.footer-br {
  min-width: 100%;
  background-color: #666666;
}

.school-container {
  padding: 0;
}

.student-info {
  height: 124px;
  /* max-width: 1440px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.student-info__details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.student-info__details p {
  display: inline-block;
  color: #666;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
}

.student-info__details a {
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}

/* TODO */

/* 

class for each section to change colors

maka container div same as in buy tickets
text div only for text

h3 tags for cards
cards as links

 */

/* .card:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */

/* 
.card .text-wrap {
	margin: 0;
} */
