form {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}

.form__container {
  margin: 0 auto;
  max-width: 970px;
  display: flex;
  justify-content: space-between;
}

.ticket__form__left {
  max-width: 400px;
}

.ticket__form__right {
  max-width: 530px;
}

.ticket__logo {
  background-image: url(assets/svg/logo-form.svg);
  width: 85px;
  height: 41px;
}

.book__ticket {
  font-size: 50px;
  line-height: 55px;
  color: var(--font-gold);
  padding-bottom: 15px;
}

.desc__ticket {
  font-size: 18px;
  line-height: 21px;
  color: var(--dark-red);
  padding-bottom: 25px;
}

.desc__ticket::after {
  display: flex;
  content: '';
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.ticket__date__time {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  width: 400px;
}

.ticket__left__item {
  font-size: 20px;
  padding: 10px 10px 10px 50px;
  margin-bottom: 20px;
  width: 400px;
  box-sizing: border-box;
}

.ticket__left__item::-webkit-input-placeholder {
  color: #000000;
}

input[type='date']::-webkit-calendar-picker-indicator {
  background-image: url(./assets/svg/ticket-date-arrow.svg);
  background-size: 100%;
}

input[type='date']:before {
  content: 'Date';
}

input[type='time']::-webkit-calendar-picker-indicator {
  background-image: url(./assets/svg/ticket-date-arrow.svg);
  background-size: 100%;
}

::-webkit-datetime-edit {
  opacity: 0;
}

#ticket__date {
  background-position: 15px;
  background-repeat: no-repeat;
  background-image: url('assets/svg/ticket-date.svg');
  border: 2px solid black;
  width: 190px;
}

#time__time {
  background-position: 15px;
  background-repeat: no-repeat;
  background-image: url('assets/svg/ticket-time.svg');
  border: 2px solid black;
  width: 190px;
}

#ticket__name {
  background-position: 15px;
  background-repeat: no-repeat;
  background-image: url('assets/svg/ticket-name.svg');
  border: 2px solid black;
  width: 400px;
}

#ticket__email {
  background-position: 15px;
  background-repeat: no-repeat;
  background-image: url('assets/svg/ticket-email.svg');
  border: 2px solid black;
}

#ticket__tel {
  background-position: 15px;
  background-repeat: no-repeat;
  background-image: url('assets/svg/ticket-form-phone.svg');
  border: 2px solid black;
}

#form__ticket__type {
  background-position: 15px;
  background-repeat: no-repeat;
  background-image: url('assets/svg/ticket-type-left.svg');
  border: 2px solid black;
}

select::-webkit-calendar-picker-indicator {
  background-image: url(./assets/svg/ticket-date-arrow.svg);
  background-size: 100%;
}

.entry__ticket {
  border: 1px solid #030303;
  width: 400px;
  box-sizing: border-box;
}

.entry__ticket__container {
  margin: 15px 15px;
}

.entry__content {
  border: 1px solid #030303;
  width: 400px;
}

.entry__desc__ticket {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 25px;
  width: 370px;
}

.entry__desc__ticket::after {
  display: flex;
  content: '';
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.calculate__entry__ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
}

.calculate__entry__ticket:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}

.title__entry__ticket {
  color: #000000;
  font-size: 18px;
  line-height: 21px;
}

.entry__btn__calculate {
  background: #030303;
  color: #ffffff;
  width: 35px;
}

.entry__number {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  line-height: 100%;
  all: unset;
  width: 3em;
  text-align: center;
  color: #030303;
}

.entry__calculate {
  border: 1px solid #030303;
  display: flex;
  justify-content: center;
  height: 25px;
}

.ticket__form__right {
  width: 530px;
  box-sizing: border-box;
}

.payment__container {
  margin: 25px 30px;
}

.payment__title {
  display: flex;
  justify-content: space-between;
}

.title__overview {
  font-weight: 500;
  font-size: 32px;
  line-height: 37.5px;
}

.title__type {
  font-weight: 500;
  line-height: 25.7px;
  color: #740c11;
}

.payment__title__left p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 5px;
}

.payment__result {
  display: flex;
  justify-content: space-between;
}

.payment__result p {
  font-weight: 400;
  font-size: 22px;
  line-height: 25.7px;
}

.payment__result__total {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.payment__total__left {
  font-weight: 400;
  font-size: 32px;
  line-height: 37.5px;
}
.payment__total__right {
  font-weight: 500;
  font-size: 32px;
  line-height: 37.5px;
}

.front__side__container {
  margin: 15px 20px;
  padding-bottom: 15px;
}

.front__side__card {
  background: #a4a4a3;
  width: 360px;
}

.front__side__card input {
  height: 35px;
  padding: 0;
}

.card__title {
  padding: 15px 0 5px 0;
}

.cardholder__name {
  width: 320px;
}

.date__input {
  display: flex;
  justify-content: space-between;
  width: 215px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

#input__date {
  width: 100px;
  height: 35px;
}

.card__number {
  width: 215px;
  padding: 0;
  margin: 0;
}

.btn-book {
  width: 220px;
  height: 45px;
  background: #710707;
  color: #ffffff;
  float: right;
  font-size: 22px;
  line-height: 25.7px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-book:active {
  transform: translateY(15px);
  box-shadow: 0px 0px #880e0e;
}

.btn-book .ripple {
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  opacity: 0.6;
  animation: scale 0.3s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
